#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/keymap.h>


/{
	motors{
		servos: servos
		{
			compatible = "pwm-servo";
			pwms = <&pwm 8 PWM_MSEC(20) PWM_POLARITY_NORMAL>, <&pwm 9 PWM_MSEC(20) PWM_POLARITY_NORMAL>,
					<&pwm 10 PWM_MSEC(20) PWM_POLARITY_NORMAL>, <&pwm 11 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			min-pulse = <PWM_USEC(700)>;
			max-pulse = <PWM_USEC(2500)>;
			status ="okay";
			zephyr,deferred-init;
		};
		disc: disc
		{
			compatible = "aasd-servo";
			pwms = <&pwm 8 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			pd-gpios = <&gpio0 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>, <&gpio0 10 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			enable-gpios = <&gpio0 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			pulse-round = <2500>;
			max-frequency = <100000>;
			min-frequency = <2000>;
			pulse-width = <PWM_USEC(2)>;// nano seconds
			zephyr,deferred-init;
		};
	};
	buttons
	{
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
			zephyr,code = <INPUT_KEY_0>;
		};
		zephyr,deferred-init;
	};
	servos_control
	{
		compatible = "gpio-keys";
		servos_zero: servos-zero{
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
		servos_home: servos-home
		{
			gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_HOME>;
		};
		servos_timer: servos-timer
		{
			gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_T>;
		};
	};
	ledandkeys
	{
		compatible = "gpio-keys";
		tmstb: tm_stb {
			gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH)>;
			label = "tm1638 stb pin";
			zephyr,code = <INPUT_KEY_0>;
		};				
		tmclk: tm_clk {
			gpios = <&gpio0 7 (GPIO_ACTIVE_HIGH)>;
			label = "tm1638 clock pin";
			zephyr,code = <INPUT_KEY_0>;
		};	
		tmdo: tm_do {
			gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH)>;
			label = "tm1638 do pin";	
			zephyr,code = <INPUT_KEY_0>;
		};
		zephyr,deferred-init;
	};

	out-rfid	
	{
		compatible = "gpio-leds";
		rfidled: rfid_led {
			gpios = <&expander 6 (GPIO_ACTIVE_HIGH)>;
		};
		rfidbuzzer: buzzer
		{
			gpios = <&expander 7 (GPIO_ACTIVE_HIGH)>;
		};
	};
	dipswitch
	{
		compatible = "gpio-keys";
		addresses: switchs{
			gpios = <&expander 0 (GPIO_ACTIVE_LOW)>, <&expander 1 (GPIO_ACTIVE_LOW)>, 
			<&expander 2 (GPIO_ACTIVE_LOW)>, <&expander 3 (GPIO_ACTIVE_LOW)>,
			<&expander 4 (GPIO_ACTIVE_LOW)>, <&expander 5 (GPIO_ACTIVE_LOW)>;
			label = "Device address";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
	relayslocks
	{
		compatible = "gpio-keys";
		relayscheck: relays_check
		{
			gpios = <&gpio0 22 (GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
		maglocks: maglocks
		{
			gpios = <&gpio0 10 (GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
		zephyr,deferred-init;
	};
	relay
	{
		compatible = "gpio-leds";
		relaycontrol: relay_control
		{
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			
		};
		zephyr,deferred-init;
	};

	// transisotr
	// ws
	// chosen{
	// 	zephyr,keyboard-scan = &keypad;
	// };
	chosen{
		zephyr,display = &display;
	};


	tftlcd
	{
		compatible = "zephyr,mipi-dbi-spi";
		dc-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		spi-dev = <&spi1>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		display: ili9488@0{
			compatible = "ilitek,ili9488";
			reg = <0x0>;
			width = <480>;
			height = <320>;
			mipi-max-frequency = <25000000>;
		};
	};
	aliases{
		hintbutton = &button0;
		built-in-led = &led0;
	};
	rotary-encoder
	{
		compatible = "gpio-keys";
		rotaryencoder: encoderpins{
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>, <&gpio0 3 (GPIO_ACTIVE_LOW)>, <&gpio0 4 (GPIO_ACTIVE_LOW)>,
					<&gpio0 9 (GPIO_ACTIVE_LOW)>, <&gpio0 10 (GPIO_ACTIVE_LOW)>, <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
			
		zephyr,deferred-init;
	};
		kbd_matrix: kbd-matrix {
		compatible = "gpio-kbd-matrix";
		row-gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			
		col-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>,
			    <&gpio0 6 GPIO_ACTIVE_LOW>;
		// zephyr-code = <0 1 2 4>;		
		// no-ghostkey-check;
		keymap{
			compatible = "input-keymap";
			keymap = <
			        MATRIX_KEY(0, 0, INPUT_KEY_1)
					MATRIX_KEY(0, 1, INPUT_KEY_2)
					// MATRIX_KEY(0, 2, INPUT_KEY_3)
					MATRIX_KEY(1, 0, INPUT_KEY_4)
					MATRIX_KEY(1, 1, INPUT_KEY_5)
					// MATRIX_KEY(1, 2, INPUT_KEY_6)
					// MATRIX_KEY(2, 0, INPUT_KEY_7)
					// MATRIX_KEY(2, 1, INPUT_KEY_8)
					// MATRIX_KEY(2, 2, INPUT_KEY_9)
			>;
			row-size = <2>;
			col-size = <2>;
		};
		// zephyr,deferred-init;
		debounce-down-ms = <80>;
		debounce-up-ms = <40>;
		// poll-timeout-ms = <500>;
		// idle-mode = "interrupt";

	};


};




&spi0 {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

	ethernet: w6100@0 {
		compatible = "wiznet,w6100";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		int-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
		local-mac-address = [00 00 00 01 02 03];
		status = "okay";
	};
	// ethernet: w5500@0 {
	// 	compatible = "wiznet,w5500";
	// 	reg = <0x0>;
	// 	spi-max-frequency = <50000000>;
	// 	int-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
	// 	reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
	// 	local-mac-address = [00 00 00 01 02 03];
	// 	status = "okay";
	// };
	// ethernet: w5100@0 {
	// 	compatible = "wiznet,w5100";
	// 	reg = <0x0>;
	// 	spi-max-frequency = <25000000>;
	// 	int-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
	// 	reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
	// 	local-mac-address = [00 00 00 01 02 03];
	// 	status = "okay";
	// };
};


&spi1 {
	clock-frequency = <DT_FREQ_M(20)>;
	status = "okay";
	pinctrl-0 = <&spi1_pins>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;

};



pico_spi: &spi0 {};
&pwm{
	status = "okay";
	pinctrl-0 = <&pwm_pins>;
// 	divider-int-0 = <133>;

	// divider-int-1 = <133>;

// 	divider-int-2 = <133>;

// 	divider-int-3 = <133>;

	divider-int-4 = <133>;

	divider-int-5 = <133>;

// 	divider-int-6 = <133>;

// 	divider-int-7 = <133>;

	zephyr,deferred-init;

};

&pinctrl{
	pwm_pins: pwm_pins
	{
		group1{
			pinmux = <PWM_4A_P8>, <PWM_4B_P9>, <PWM_5A_P26>, <PWM_5B_P27>;
		};
	};
	spi1_pins: spi1_pins {
		group1 {
			pinmux = <SPI1_CSN_P13>, <SPI1_SCK_P10>, <SPI1_TX_P11>;
		};
		group2 {
			pinmux = <SPI1_RX_P12>;
			input-enable;
		};
	};

};

&i2c1_default {
	group1 {
		pinmux = <I2C1_SDA_P14>, <I2C1_SCL_P15>;

	};

  };


&i2c0{
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	rfidin: pn532@24{
		compatible = "nxp,pn532";
		status = "okay";
		reg = <0x24>;
		int-gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		reset-gpios = <&gpio0 3 (GPIO_ACTIVE_LOW)>;
	};

	// mux0: tca9546a@77
	// {
	// 	compatible = "ti,tca9546a";
	// 	reg = <0x77>;
	// 	status = "okay";
	// 	label = "i2c_mux";
	// 	#address-cells = <1>;
	// 	#size-cells = <0>;
	// 	reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
	// 	mux_i2c@0
	// 	{
	// 		compatible = "ti,tca9546a-channel";
	// 		reg = <0>;
	// 		#address-cells = <1>;
	// 		#size-cells = <0>;
	// 		status = "okay";
	// 		color_sensor0: tcs34725@29{
	// 			compatible = "taos,tcs34725"
	// 			reg = <0x29>;
	// 		};
			
	// 	};
	// };

};


&i2c1{
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
		lcd1: pcf857x@20 {
		compatible = "nxp,pcf857x";
		status = "okay";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
		zephyr,deferred-init;
	};
		lcd2: pcf857x@21{
		compatible = "nxp,pcf857x";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
		zephyr,deferred-init;
	};
		expander: pcf857x@27 {
		compatible = "nxp,pcf857x";
		status = "okay";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
		zephyr,deferred-init;
	};
  

};


